{% extends "base.html" %}
{% block content %}

{% import 'components.html' as components %}

<div class="container" style="padding-top: 10em;">
	<div class="row">
		{{ components.product_card("Samsung Galaxy S23", "$1200", "https://www.jbhifi.com.au/cdn/shop/products/622165-Product-0-I-638239543878291692.jpg?v=1698811964") }}
		{{ components.product_card("Google Pixel 8", "$900", "https://www.jbhifi.com.au/cdn/shop/products/662718-Product-0-I-638302518603197997_e6793f75-5ce7-47ff-a413-15a10b00317c.jpg?v=1701374642") }}
		{{ components.product_card("Apple iPhone 15", "$1500", "https://www.jbhifi.com.au/cdn/shop/products/639168-Product-0-I-638301483010334192.jpg?v=1698811953") }}	

	</div>
</div>

{% endblock content %}